<!DOCTYPE html>
<html>
  <head>
    <title>Application d'une librairie |  <%= @titre %></title>
  </head>
  <body>
    <h1>À Propos de nous</h1>
    <p>
      Etudiant en Licence 3 informatique a l'universite de Nice Sophia Antipolis.
      Ceci est une Librairie developper en Ruby on Rails . Pour Information cet application 
      est realiser avec les tests d'integration et unitaires des differents models.
      Si vous souhaiter acceder au tutoriel de ruby on rails suivez ce lien ci dessous 
      <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>
      et si vous voulez voir la page officiel de ruby on rails suivez celui la
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </p>
  </body>
</html>

