<!DOCTYPE html>
<html>
  <head>
    <title>Application d'une librairie |  <%= @titre %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <ul>
	<li>Balde Thierno</li>
	<li>Etudiant en Licence 3 Informatique</li>
	<li>@celloukansily</li>
	<li>bt008465@etu.unice.fr</li>
      
    </p>
  </body>
</html>

